on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 'latest'
      - run: npm ci
      - run: npx c8 --all npm run test
        env:
          CI: true

  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
      - run: npm link --only=production
      - run: sh e2e.sh
        env:
          CI: true

  release:
    needs: [test, e2e]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
      - name: npx semantic-release
        run: |
          GIT_BRANCH=`echo ${{ github.ref }} | cut -d"/" -f3`
          case "${GIT_BRANCH}" in
            'master') npx semantic-release --branches "$GIT_BRANCH"  ;;
                   *) npx semantic-release --branches "$GIT_BRANCH" --dry-run  ;;
          esac
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
