on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: npm ci
      - run: npx c8 --all npm run test ${{ github.ref }}
        env:
          CI: true

  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: npm ci
      - run: npm link
      - run: apt-get update && apt-get install -y curl netcat
      - run: npm i -g fx
      - run: echo "require('${GITHUB_WORKSPACE}/fx')(global)" >> ~/.fxrc
      - run: npm run e2e
        env:
          CI: true

  release:
    if: github.ref == 'refs/heads/master'
    needs: [test, e2e]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cycjimmy/semantic-release-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
